html,body { margin: 0; padding: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji"; }
* { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }
nav a { font-size: 14px; }
